<!DOCTYPE HTML>
<html>
  <head>
    <title>Treinamento rails avançado</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <noscript>
      <link rel="stylesheet" href="/assets/css/noscript.css" />
    </noscript>
  </head>
  <body>
    <div id="page-wrapper">
      <div id="wrapper">
        <% if notice.present? %>
          <p class="notice"><%= notice %></p>
        <% end %>

        <% if flash[:error].present? %>
          <p class="error"><%= flash[:error] %></p>
        <% end %>

        <%= yield %>
      </div>
    </div>

    <div class="copyright" style="color: #000;min-width: 500px;padding: 30px;">
      &copy; Untitled. Design: <br> 
      &nbsp;&nbsp;&nbsp;&nbsp; <a href="https://html5up.net">HTML5 UP</a>.<br><br>
      &copy; Essencial software. Rails avançado: <br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/daniel-candido-8b8724bb/">Acessar</a>.
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
